//NO COLORS ARE FINAL IN ANY WAY!! ALL WILL CHANGE. ALL OF THEM ARE TEMP

$text_color: rgb(0, 0, 0);
$header_color: #c41a29;
$hover_text_color: rgb(131, 126, 126);
$bg_color: rgb(55, 125, 111);
$gradient_color_start: #44c900;
$gradient_color_end: #2bb2eb;

$main_font: "Libre Franklin", sans-serif;
$font_size_header: 2em;
$font_size_title: 3em;
$font_size_search: 1em;
