<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style/master.css">
    <link href="https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@500&display=swap" rel="stylesheet">
    <title>Romland.Space</title>
</head>

<body>
    <header>
        <p>Romland.Space</p>
        <a href="/about">About</a>
    </header>
    <div id="main">
        <div id="searchArea">
            
        </div>
    </div>
</body>

</html>