<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style/master.css">
    <link href="https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@500&display=swap" rel="stylesheet">
    <title>Romland.Space</title>
</head>

<body>
    <header>
        <p>Romland.Space</p>
        <a href="http://localhost:3000">About</a>
    </header>
    <div id="main">
        <div id="searchArea">
            <form action="/" method="post"></form>
            <input id="searchbox" type="search" placeholder="Search">
            </form>
            <div id="mostPopular">
                <% for( let index = 0; index < data.length; index++ ) { %>
                <div class="searchItem">
                    <a href="<%- data[index].link %>"><%- data[index].name %> </p>
                </div>
                <% } %>
            </div>
        </div>
    </div>
</body>

</html>