<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style/master.css">
    <link href="https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@500&display=swap" rel="stylesheet">
    <title>Romland.Space</title>
</head>

<body>
    <header>
        <p>Romland.Space</p>
        <a href="/about">About</a>
    </header>
    <div id="main">
        <script>
            changeContent = function(){
                if(document.getElementById("searchbox").value == ""){
                    document.getElementById("mostPopular").style.display = "flex";
                    document.getElementById("searchResult").style.display = "none";
                }else{
                    document.getElementById("mostPopular").style.display = "none";
                    document.getElementById("searchResult").style.display = "flex";
                }
            }
       </script> 
        <div id="searchArea">
            <input id="searchbox" type="search" placeholder="Search" oninput='changeContent()'>
            <div id="mostPopular">
                <% for( let index = 0; index < data.length; index++ ) { %>
                <div class="searchItem">
                    <a href="<%- data[index].link %>"><%- data[index].name %> </p>
                </div>
                <% } %>
            </div>
            <div id="searchResult">
                <% for( let index = 0; index < data.length; index++ ) { %>
                    <div class="searchItem">
                        <a href="<%- data[index].link %>"><%- data[index].name %> </p>
                    </div>
                    <% } %>
            </div>
            <script>
            document.getElementById("searchResult").style.display = "none";
            </script>
        </div>
    </div>
</body>

</html>